.bitool {
    margin-bottom: 217px;

    @media (max-width: 500px) {
        margin-bottom: 35px;
    }
}
.bitool__wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1170px) {
        justify-content: unset;
        column-gap: 10%;
    }

    @media (max-width: 650px) {
        flex-direction: column;
        justify-content: unset;
        row-gap: 50px;
    }
}
.bitool__content {
    padding-top: 98px;
    max-width: 497px;

    @media (max-width: 500px) {
        padding-top: unset;
    }
}
.bitool__heading {
}
.bitool__img {

    @media (max-width: 650px) {
        flex-shrink: 0;
    }
}