.contact-form {
    margin-bottom: 91px;
}
.container {
}
.contact-form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-form__header {
    position: relative;

    margin-bottom: 82px;
        
    max-width: 580px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    @media (max-width: 650px) {
      max-width: 423px;  
    }

    &::before{
        @include pseudo(248px, 250px);

        top: -76px;
        left: -98px;

        background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
        opacity: 0.3;
        filter: blur(125px);
        transform: rotate(5.78deg);
    }
}
.contact-form__heading {
}