.cta {
    
}
.cta__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 650px) {
        flex-direction: column;
        row-gap: 50px;
    }
}
.cta__links {
    display: flex;
    align-items: center;
    column-gap: 28px;

    @media (max-width: 650px) {
        flex-direction: column;
        row-gap: 50px;
        column-gap: unset;
    }
}
.cta__link {

    &:hover{
        opacity: 0.5;
    }

    img{
        @media (max-width: 650px) {
            width: 285px;
        }

        @media (max-width: 500px) {
            width: 185px;
        }
    }
}

.cta--qr{
    @media (max-width: 650px) {
        align-self: center;
    }
}