.intro {
    margin-bottom: 74px;
}
.intro__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;

    @media (max-width: 650px) {
        justify-content: unset;
        column-gap: 15px;
    }

    @media (max-width: 650px) {
        & > *{
            flex-shrink: 0;
        }
    }

    &::after{
        @include pseudo(660px, 790px);

        top: -270px;
        right: -260px;

        transform: rotate(-106deg);

        z-index: -99;

        background-image: url('./../img/intro/vector-bg.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }
}
.intro__desc {

    @media (max-width: 650px) {
        max-width: 340px;
    }

    @media (max-width: 500px) {
        max-width: 240px;
    }
}

.intro__heading{
    margin-bottom: 133px;

    @media (max-width: 650px) {
        margin-bottom: 24px;
    }
}

.intro__text{
    position: relative;
    
    padding-left: 100px;

    max-width: 480px;

    @media (max-width: 650px) {
        padding-left: unset;
    }

    @media (max-width: 500px) {
        max-width: 240px;
    }

    &::before{
        @include pseudo(125px, 125px);

        left: 0;
        bottom: 50%;

        z-index: -9;

        background: rgba(96, 92, 234, 0.5);
        filter: blur(50px);

        @media (max-width: 650px) {
            display: none;
        }
    }

    &::after{
        @include pseudo(120px, 4px);

        left: 0;
        bottom: 50px;
        transform: rotate(121deg);

        background-color: #ffffff;

        @media (max-width: 650px) {
            display: none;
        }
    }
}
.intro__img {
    z-index: -9;

    img{
        @media (max-width: 650px) {
            width: 260px;
        }

        @media (max-width: 500px) {
            width: 161px;
        }
    }
}