.mission {
    margin-bottom: 283px;

    @media (max-width: 500px) {
        margin-bottom: 190px;
    }
}
.mission__wrapper {
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > *{
        flex-shrink: 0;
    }

    @media (max-width: 875px) {
        flex-direction: column-reverse;
        row-gap: 50px;
        max-height: unset;
    }

    @media (max-width: 500px) {
        row-gap: 164px;
    }
}
.mission__img {
    transform: rotate(90deg);
    
    img{
        width: 498px;

        @media (max-width: 650px) {
            width: 350px;
        }
    }

    @media (max-width: 1170px) {
        padding-top: 30%;
    }

    @media (max-width: 1000px) {
        padding-top: 50%;
    }

    @media (max-width: 900px) {
        padding-top: 80%;
    }

    @media (max-width: 875px) {
        transform: unset;
        padding-top: unset;
    }
}
.mission__content {
    margin-top: -200px;
    max-width: 358px;

    @media (max-width: 875px) {
        margin-top: unset;
        max-width: 450px;
    }
}

.mission__heading{
    position: relative;

    margin-bottom: 23px;

    &::after{
        @include pseudo(85px, 85px);

        top: 0px;
        left: 50%;

        z-index: -9;

        background: #F101BF;
        opacity: 0.7;
        filter: blur(50px);
    }
}