.notab {
    position: relative;

    margin-bottom: 259px;

    @media (max-width: 750px) {
        display: none;
    }
}
.notab__wrapper {
}

.notab__img{
    text-align: center;

    &::after{
        @include pseudo(100%, 950px);

        top: -50%;
        left: 0;

        z-index: -9;
        // transform: translateY(50%);

        background: linear-gradient(360deg, #000000 6.8%, rgba(0, 0, 0, 0) 51.62%, #000000 97.38%), url('./../img/notab/notab-bg.svg');
    }
}