.qrcode {
    position: relative;
    margin-bottom: 42px;
    overflow-x: hidden;

    z-index: -99;

    background: linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%), url('./../img/qrcode/disco.jpg');
    background-repeat: no-repeat;
    background-position: left top;

    @media (max-width: 650px) {
        background-size: 100%;
    }

    @media (max-width: 650px) {
        margin-bottom: 130px;
    }
}
.qrcode__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 223px;

    @media (max-width: 1170px) {
        justify-content: unset;
        column-gap: 50px;
    }

    @media (max-width: 850px) {
        flex-direction: column;
        padding-top: unset;
    }
}
.qrcode__content {
    align-self: center;
    padding-bottom: 25px;
    @media (max-width: 850px) {
        padding-top: 200px;
        padding-bottom: unset;
        margin-bottom: 50px;
    }

    @media (max-width: 650px) {
        padding-top: 70%;
        align-self: unset;
        margin-bottom: 240px;
    }
}
.qrcode__text {
    margin-bottom: 58px;

    max-width: 315px;

    @media (max-width: 650px) {
        max-width: 450px;
    }
}
.qrcode__heading {
    margin-bottom: 23px;
}

.qrcode__mockups{
    position: relative;

    display: flex;
    align-items: flex-start; 
    column-gap: 80px;

    @media (max-width: 850px) {
        column-gap: unset;
        justify-content: space-between;
    }

    @media (max-width: 650px) {
        flex-direction: column;
        align-items: center;
        column-gap: unset;
        row-gap: 50px;
    }

    &::before{
        @include pseudo(733px, 617px);

        top: -200px;
        right: -250px;

        z-index: -1;

        background-image: url('./../img/qrcode/edmonds.jpg');
        background-repeat: no-repeat;
        background-size: contain;

        @media (max-width: 850px) {
            width: 530px;
            top: 80px;
            right: 0px;
        }

        @media (max-width: 650px) {
            width: 350px;
            top: -200px;
        }
    }

    &::after{
        @include pseudo(139px, 105px);

        top: -200px;
        right: -40px;

        z-index: 0;

        background-image: url('./../img/qrcode/nightlife.svg');
        background-repeat: no-repeat;

        @media (max-width: 1170px) {
            right: 0px;
        }

        @media (max-width: 850px) {
            top: 70px;
        }

        @media (max-width: 650px) {
            top: -150px;
        }
    }
}


.qrcode__mockup{
    &--btm{
        padding-top: 50%;

        @media (max-width: 650px) {
            padding-top: unset;
        }
    }
}