@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Montserrat:wght@700&family=Noto+Sans:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  background-color: #000000;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  color: #ffffff;
}
@media (max-width: 650px) {
  body {
    font-size: 16px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

a {
  color: #ffffff !important;
}

.container {
  max-width: 1240px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
}
.hidden-scroll {
  overflow: hidden;
}

.title-xxlg {
  font-size: 64px;
  line-height: 1.09;
}
@media (max-width: 650px) {
  .title-xxlg {
    font-size: 45px;
  }
}
@media (max-width: 500px) {
  .title-xxlg {
    font-size: 35px;
  }
}

.title-xlg {
  font-size: 35px;
}
@media (max-width: 500px) {
  .title-xlg {
    font-size: 24px;
  }
}

.title-lg {
  font-size: 30px;
  font-weight: 700;
}
@media (max-width: 650px) {
  .title-lg {
    font-size: 24px;
  }
}

.title-main {
  font-size: 51px;
  font-weight: 700;
}
@media (max-width: 650px) {
  .title-main {
    font-size: 24px;
  }
}

.text-xlg {
  font-size: 24px;
}
@media (max-width: 650px) {
  .text-xlg {
    font-size: 18px;
  }
}

.text-lg {
  font-size: 20px;
}
@media (max-width: 650px) {
  .text-lg {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .text-lg {
    font-size: 16px;
  }
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 818px;
}
@media (max-width: 875px) {
  .form {
    width: 550px;
  }
}
@media (max-width: 650px) {
  .form {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .form {
    width: 100%;
  }
}
.form::after {
  content: "";
  position: absolute;
  display: block;
  width: 337px;
  height: 342px;
  bottom: 0;
  right: -50%;
  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.3;
  filter: blur(125px);
  transform: rotate(5.78deg);
}

.form__inputs {
  margin-bottom: 40px;
}
.form__inputs > .form__item:last-child {
  margin-bottom: 0px;
}

.form__item {
  margin-bottom: 16px;
  text-align: center;
}
.form__item:last-child {
  margin-bottom: 0px;
}
.form__item input, .form__item textarea {
  width: 100%;
  padding: 18px 11px 17px;
  background-color: #ffffff;
  border: 1px solid #5C5C5C;
  border-radius: 10px;
  color: #000000;
}
.form__item input::-moz-placeholder, .form__item textarea::-moz-placeholder {
  color: #BFBFBF;
}
.form__item input::placeholder, .form__item textarea::placeholder {
  color: #BFBFBF;
}
.form__item textarea {
  height: 140px;
}
.form__item button {
  position: relative;
  width: 398px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.2s ease-in;
  line-height: 80px;
  text-align: center;
}
.form__item button::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  z-index: -9;
  transition: left 0.2s ease-in;
  background-color: #ffffff;
}
.form__item button:hover {
  color: #000000 !important;
  border-color: #000000;
}
.form__item button:hover::after {
  left: 0;
}
@media (max-width: 500px) {
  .form__item button {
    width: 100%;
  }
}

.form-cities {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media (max-width: 500px) {
  .form-cities {
    flex-direction: column;
    -moz-column-gap: unset;
         column-gap: unset;
    row-gap: 16px;
  }
}

.err {
  border-color: #ff0000 !important;
}

.header {
  margin-top: 23px;
  margin-bottom: 18px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  -moz-column-gap: 108px;
       column-gap: 108px;
}
@media (max-width: 650px) {
  .header__wrapper {
    -moz-column-gap: unset;
         column-gap: unset;
    justify-content: space-between;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.header__logo:hover {
  opacity: 0.8;
}

.header__login {
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.header__login:hover span::after {
  width: 100%;
}
.header__login span {
  position: relative;
}
.header__login span::after {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  height: 1px;
  background-color: #ffffff;
  transition: width 0.2s ease-in;
}

.intro {
  margin-bottom: 74px;
}

.intro__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 650px) {
  .intro__wrapper {
    justify-content: unset;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
@media (max-width: 650px) {
  .intro__wrapper > * {
    flex-shrink: 0;
  }
}
.intro__wrapper::after {
  content: "";
  position: absolute;
  display: block;
  width: 660px;
  height: 790px;
  top: -270px;
  right: -260px;
  transform: rotate(-106deg);
  z-index: -99;
  background-image: url("./../img/intro/vector-bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 650px) {
  .intro__desc {
    max-width: 340px;
  }
}
@media (max-width: 500px) {
  .intro__desc {
    max-width: 240px;
  }
}

.intro__heading {
  margin-bottom: 133px;
}
@media (max-width: 650px) {
  .intro__heading {
    margin-bottom: 24px;
  }
}

.intro__text {
  position: relative;
  padding-left: 100px;
  max-width: 480px;
}
@media (max-width: 650px) {
  .intro__text {
    padding-left: unset;
  }
}
@media (max-width: 500px) {
  .intro__text {
    max-width: 240px;
  }
}
.intro__text::before {
  content: "";
  position: absolute;
  display: block;
  width: 125px;
  height: 125px;
  left: 0;
  bottom: 50%;
  z-index: -9;
  background: rgba(96, 92, 234, 0.5);
  filter: blur(50px);
}
@media (max-width: 650px) {
  .intro__text::before {
    display: none;
  }
}
.intro__text::after {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 4px;
  left: 0;
  bottom: 50px;
  transform: rotate(121deg);
  background-color: #ffffff;
}
@media (max-width: 650px) {
  .intro__text::after {
    display: none;
  }
}

.intro__img {
  z-index: -9;
}
@media (max-width: 650px) {
  .intro__img img {
    width: 260px;
  }
}
@media (max-width: 500px) {
  .intro__img img {
    width: 161px;
  }
}

.cta__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 650px) {
  .cta__wrapper {
    flex-direction: column;
    row-gap: 50px;
  }
}

.cta__links {
  display: flex;
  align-items: center;
  -moz-column-gap: 28px;
       column-gap: 28px;
}
@media (max-width: 650px) {
  .cta__links {
    flex-direction: column;
    row-gap: 50px;
    -moz-column-gap: unset;
         column-gap: unset;
  }
}

.cta__link:hover {
  opacity: 0.5;
}
@media (max-width: 650px) {
  .cta__link img {
    width: 285px;
  }
}
@media (max-width: 500px) {
  .cta__link img {
    width: 185px;
  }
}

@media (max-width: 650px) {
  .cta--qr {
    align-self: center;
  }
}

.act-btns {
  margin-top: 179px;
  margin-bottom: 236px;
}
@media (max-width: 500px) {
  .act-btns {
    margin-top: 80px;
    margin-bottom: 109px;
  }
}

.act-btns__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 81px;
       column-gap: 81px;
}
@media (max-width: 750px) {
  .act-btns__wrapper {
    flex-direction: column;
    row-gap: 50px;
  }
}

.act-btns__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 503px;
  height: 312px;
  padding: 62px 62px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 22px;
}
@media (max-width: 650px) {
  .act-btns__card {
    width: 345px;
  }
}

.act-btns__text {
  max-width: 375px;
  margin-bottom: 30px;
}

.act-btns__link:hover {
  text-decoration: underline !important;
}

.mission {
  margin-bottom: 283px;
}
@media (max-width: 500px) {
  .mission {
    margin-bottom: 190px;
  }
}

.mission__wrapper {
  max-height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mission__wrapper > * {
  flex-shrink: 0;
}
@media (max-width: 875px) {
  .mission__wrapper {
    flex-direction: column-reverse;
    row-gap: 50px;
    max-height: unset;
  }
}
@media (max-width: 500px) {
  .mission__wrapper {
    row-gap: 164px;
  }
}

.mission__img {
  transform: rotate(90deg);
}
.mission__img img {
  width: 498px;
}
@media (max-width: 650px) {
  .mission__img img {
    width: 350px;
  }
}
@media (max-width: 1170px) {
  .mission__img {
    padding-top: 30%;
  }
}
@media (max-width: 1000px) {
  .mission__img {
    padding-top: 50%;
  }
}
@media (max-width: 900px) {
  .mission__img {
    padding-top: 80%;
  }
}
@media (max-width: 875px) {
  .mission__img {
    transform: unset;
    padding-top: unset;
  }
}

.mission__content {
  margin-top: -200px;
  max-width: 358px;
}
@media (max-width: 875px) {
  .mission__content {
    margin-top: unset;
    max-width: 450px;
  }
}

.mission__heading {
  position: relative;
  margin-bottom: 23px;
}
.mission__heading::after {
  content: "";
  position: absolute;
  display: block;
  width: 85px;
  height: 85px;
  top: 0px;
  left: 50%;
  z-index: -9;
  background: #F101BF;
  opacity: 0.7;
  filter: blur(50px);
}

.scanner {
  padding: 467px 0px 0px;
  margin-bottom: 200px;
  background: linear-gradient(180deg, #000000 -3%, rgba(0, 0, 0, 0) 56%, #000000 84%), url("./../img/scanner/scanner-bg.png");
  background-size: cover;
}
@media (max-width: 850px) {
  .scanner {
    padding-top: 120px;
  }
}
@media (max-width: 750px) {
  .scanner {
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 360px;
  }
}
@media (max-width: 650px) {
  .scanner {
    padding-top: 250px;
  }
}
@media (max-width: 500px) {
  .scanner {
    padding-top: 200px;
    margin-bottom: 143px;
  }
}

.scanner__wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
@media (max-width: 1170px) {
  .scanner__wrapper {
    justify-content: space-around;
  }
}
@media (max-width: 750px) {
  .scanner__wrapper {
    flex-direction: column-reverse;
    justify-content: unset;
    align-items: center;
    row-gap: 50px;
  }
}

.scanner__img {
  display: flex;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media (max-width: 650px) {
  .scanner__img {
    flex-direction: column;
    -moz-column-gap: unset;
         column-gap: unset;
    row-gap: 50px;
  }
}

.scanner__content {
  max-width: 410px;
  padding-bottom: 65px;
}
@media (max-width: 500px) {
  .scanner__content {
    padding-bottom: 70px;
  }
}

@media (max-width: 1170px) {
  .scanner__img-tablet {
    display: none;
  }
}
@media (max-width: 650px) {
  .scanner__img-tablet {
    display: block;
  }
}

.bitool {
  margin-bottom: 217px;
}
@media (max-width: 500px) {
  .bitool {
    margin-bottom: 35px;
  }
}

.bitool__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1170px) {
  .bitool__wrapper {
    justify-content: unset;
    -moz-column-gap: 10%;
         column-gap: 10%;
  }
}
@media (max-width: 650px) {
  .bitool__wrapper {
    flex-direction: column;
    justify-content: unset;
    row-gap: 50px;
  }
}

.bitool__content {
  padding-top: 98px;
  max-width: 497px;
}
@media (max-width: 500px) {
  .bitool__content {
    padding-top: unset;
  }
}

@media (max-width: 650px) {
  .bitool__img {
    flex-shrink: 0;
  }
}

.qrcode {
  position: relative;
  margin-bottom: 42px;
  overflow-x: hidden;
  z-index: -99;
  background: linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%), url("./../img/qrcode/disco.jpg");
  background-repeat: no-repeat;
  background-position: left top;
}
@media (max-width: 650px) {
  .qrcode {
    background-size: 100%;
  }
}
@media (max-width: 650px) {
  .qrcode {
    margin-bottom: 130px;
  }
}

.qrcode__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 223px;
}
@media (max-width: 1170px) {
  .qrcode__wrapper {
    justify-content: unset;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
@media (max-width: 850px) {
  .qrcode__wrapper {
    flex-direction: column;
    padding-top: unset;
  }
}

.qrcode__content {
  align-self: center;
  padding-bottom: 25px;
}
@media (max-width: 850px) {
  .qrcode__content {
    padding-top: 200px;
    padding-bottom: unset;
    margin-bottom: 50px;
  }
}
@media (max-width: 650px) {
  .qrcode__content {
    padding-top: 70%;
    align-self: unset;
    margin-bottom: 240px;
  }
}

.qrcode__text {
  margin-bottom: 58px;
  max-width: 315px;
}
@media (max-width: 650px) {
  .qrcode__text {
    max-width: 450px;
  }
}

.qrcode__heading {
  margin-bottom: 23px;
}

.qrcode__mockups {
  position: relative;
  display: flex;
  align-items: flex-start;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
@media (max-width: 850px) {
  .qrcode__mockups {
    -moz-column-gap: unset;
         column-gap: unset;
    justify-content: space-between;
  }
}
@media (max-width: 650px) {
  .qrcode__mockups {
    flex-direction: column;
    align-items: center;
    -moz-column-gap: unset;
         column-gap: unset;
    row-gap: 50px;
  }
}
.qrcode__mockups::before {
  content: "";
  position: absolute;
  display: block;
  width: 733px;
  height: 617px;
  top: -200px;
  right: -250px;
  z-index: -1;
  background-image: url("./../img/qrcode/edmonds.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 850px) {
  .qrcode__mockups::before {
    width: 530px;
    top: 80px;
    right: 0px;
  }
}
@media (max-width: 650px) {
  .qrcode__mockups::before {
    width: 350px;
    top: -200px;
  }
}
.qrcode__mockups::after {
  content: "";
  position: absolute;
  display: block;
  width: 139px;
  height: 105px;
  top: -200px;
  right: -40px;
  z-index: 0;
  background-image: url("./../img/qrcode/nightlife.svg");
  background-repeat: no-repeat;
}
@media (max-width: 1170px) {
  .qrcode__mockups::after {
    right: 0px;
  }
}
@media (max-width: 850px) {
  .qrcode__mockups::after {
    top: 70px;
  }
}
@media (max-width: 650px) {
  .qrcode__mockups::after {
    top: -150px;
  }
}

.qrcode__mockup--btm {
  padding-top: 50%;
}
@media (max-width: 650px) {
  .qrcode__mockup--btm {
    padding-top: unset;
  }
}

.generate {
  margin-bottom: 192px;
  background-image: url("./../img/generate/qr-bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px 158px;
}
@media (max-width: 650px) {
  .generate {
    background-position: 0px 300px;
  }
}
@media (max-width: 500px) {
  .generate {
    margin-bottom: 200px;
  }
}

@media (max-width: 650px) {
  .generate__wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
}

.generate__img {
  position: relative;
  margin-bottom: 80px;
  text-align: center;
}
@media (max-width: 650px) {
  .generate__img img {
    width: 182px;
  }
}
.generate__img::after {
  content: "";
  position: absolute;
  display: block;
  width: 1022px;
  height: 952px;
  top: -147px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -9;
  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.15;
  filter: blur(155.784px);
  border-radius: 476.034px;
}
@media (max-width: 650px) {
  .generate__img::after {
    width: 306px;
    height: 285px;
  }
}

.generate__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}
@media (max-width: 650px) {
  .generate__content {
    flex-direction: column;
    justify-content: unset;
    row-gap: 24px;
    align-items: unset;
  }
}
.generate__content p {
  max-width: 192px;
}
@media (max-width: 650px) {
  .generate__content p {
    max-width: 292px;
  }
}
.generate__content p + p {
  margin-top: 1em;
}

.advantages {
  margin-bottom: 335px;
}
@media (max-width: 650px) {
  .advantages {
    margin-bottom: 95px;
  }
}

.advantages__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 650px) {
  .advantages__content {
    align-items: unset;
    margin-bottom: 75px;
  }
}

.advantages__heading {
  margin-bottom: 23px;
}

.advantages__img {
  text-align: center;
}

.notab {
  position: relative;
  margin-bottom: 259px;
}
@media (max-width: 750px) {
  .notab {
    display: none;
  }
}

.notab__img {
  text-align: center;
}
.notab__img::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 950px;
  top: -50%;
  left: 0;
  z-index: -9;
  background: linear-gradient(360deg, #000000 6.8%, rgba(0, 0, 0, 0) 51.62%, #000000 97.38%), url("./../img/notab/notab-bg.svg");
}

.contact-form {
  margin-bottom: 91px;
}

.contact-form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form__header {
  position: relative;
  margin-bottom: 82px;
  max-width: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (max-width: 650px) {
  .contact-form__header {
    max-width: 423px;
  }
}
.contact-form__header::before {
  content: "";
  position: absolute;
  display: block;
  width: 248px;
  height: 250px;
  top: -76px;
  left: -98px;
  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.3;
  filter: blur(125px);
  transform: rotate(5.78deg);
}

.footer {
  margin-bottom: 86px;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
@media (max-width: 500px) {
  .footer__wrapper {
    flex-direction: column;
    -moz-column-gap: unset;
         column-gap: unset;
    row-gap: 58px;
  }
}

.footer__nav ul {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
@media (max-width: 500px) {
  .footer__nav {
    font-size: 18px;
    font-weight: 800;
  }
}

.footer__nav-link:hover {
  text-decoration: underline !important;
}

.footer__links {
  position: relative;
}
@media (max-width: 500px) {
  .footer__links {
    text-align: center;
    font-size: 14px;
  }
}
.footer__links::after {
  content: "";
  position: absolute;
  display: block;
  width: 405px;
  height: 412px;
  top: -150px;
  left: -158px;
  z-index: -9;
  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.3;
  filter: blur(125px);
  transform: rotate(5.78deg);
}
.footer__links ul {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.footer__links-link:hover {
  text-decoration: underline !important;
}/*# sourceMappingURL=main.css.map */